* {
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #505F79;
    list-style-type: none;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 135px;
}

/* Navbar */
header {
    width: 100%;
    height: 830px;
    background-repeat: no-repeat;
    background-image: url("./backgrounds/Header_bg2x.png");
    background-size: contain;
    background-position: center;
    background-color: white;
    border-top: 120px solid white;
    border-left: 35px solid white;
    border-radius: 0 0 0 150px;
    padding-bottom: 40px;
    margin-bottom: 135px;


}

/* mobile menu bar */
.bar {
    display: none;
}

body {
    background-color: #f5f5f6;

}

.header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    padding: 20px 60px 20px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;



}

p,
h1,
h3,
h3,
li,
button,
.logo,
a,
#lorem-input,
#email-input,
#message-input {
    font-family: 'Poppins', sans-serif;
}

.logo {
    font-size: 18.5px;
    color: #6070ff;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 15.5px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    color: #091E42;
}


.description {
    display: block;
    width: 1080px;
    padding-top: 210px;
    padding-left: 210px;
    font-size: 20px;
}

h1 {
    color: #091E42;
    font-size: 45px;
    line-height: 1.3em;
    font-weight: 600;
}


.description p {
    padding-top: 10px;
    line-height: 1.3em;

}


.connect-icons {
    display: flex;
    margin-bottom: 10px;

}

.connect-icons img {
    height: 26px;
    width: 26px;
    margin-right: 10px;
    object-fit: contain;

}

.letsconnect {
    color: #6070ff;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    font-size: 15px;
}




.page {
    display: flex;
    align-items: center;

    border-radius: 30px;
    padding: 25px;
    background-color: white;
    width: 80%;
    justify-content: center;
    gap: 5%;


}

.btn {
    padding: 12px 10px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    color: #6070ff;
    font-size: 16px;
    background-color: white;
    max-width: 150px;
}

.btn:hover {
    background-color: #6070ff;
    color: white;
    cursor: pointer;
}

.btn:active {
    background-color: rgb(6, 8, 121);
    color: white;
    cursor: pointer;
}

/*button[disabled=disabled],
button:disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed !important;
}
*/

.page:nth-child(even) {
    flex-direction: row-reverse;
}


.bullet {
    align-items: center;
    margin-left: 10px;
}

.dots :first-child {
    list-style: none;
}



.dots {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;

}

.bullet::marker {
    color: rgb(0, 0, 0);
    font-size: 15px;
}



.image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}





.image-layer>img {
    object-fit: contain;
}

.image-layer {

    height: 100%;
    width: 100%;
    max-height: 400px;
    max-width: 400px;

}

.tonic-layer {
    display: flex;
    flex-direction: column;
    justify-items: start;

}







.tonic {
    font-size: 40px;
    margin-top: 20px;
}

.can {
    list-style-type: none;

}

.can p {
    color: #091E42;
    font-weight: 500;
}

.ultonic {
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
}

.on {
    padding-right: 40px;
}

.gr {
    color: #4C6A88;
}

.desc {
width: 100%;
    font-size: 15px;
    color: #091d40;
    padding-bottom: 20px;
}

.box-container {
    display: flex;
    padding-bottom: 40px;
}

.box-container p {
    font-size: 12px;
    color: #6070ff;
}

.box {
    background-color: #EBEBFF;
    padding: 3px 10px;
    margin-right: 8px;
    border-radius: 10px;
}

.see-proj {
    padding: 12px 10px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    color: #6070ff;
    font-size: 16px;
    background-color: white;


}

.ex {
    width: 450px;
}

.pro {
    margin-right: 25px;
}

.bg {
    color: white;
    background-color: #6070ff;
    box-shadow: 0px 5px 10px #9ea2be;
}

.vr {
    width: 460px;
}

.page:hover {
    border: 1px solid #6070ff;
    box-shadow: 0px 50px 60px #dbdfff;
    cursor: pointer;
}

.smart {
    width: 460px;
}

.av {
    margin-right: 40px;
}


footer {

    display: block;
}

.ab {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: 135px;
    background-color: white;
    border-radius: 0 150px 0 0;
    gap: 50px;
   
    flex-wrap: nowrap;
    
    padding: 120px  20px  120px 60px ;


}



.hello {

    margin-top: 5px;
    width: 428px;
    padding-bottom: 5px;


}

.abt {
    padding-bottom: 10px;
}

.inc {
    padding-bottom: 10px;

}
.about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;

    
}
.get {
    color: #6070FF;
    padding: 8px 12px;
    margin-top: 0px;
    
    
}



.lang {
    padding-top: 32px;
}


.skills-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: start;
}

.lang>p,
.framew>p,
.skill>p {
    font-size: 20px;
    color: #091d40;
}

.lang,
.framew,
.skill {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.arrow {
    width: 20px;
    height: 20px;
    background-size: contain;
}


.iconn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 10px;


}

.lang-icon-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;


}


.title {
    font-size: 15px;
    color: #091d40;
}


.java,
.csss,
.htm {
    display: block;

    width: 110px;
    height: 110px;
    background-color: #F7F7F9;
    padding: 10px;
    margin-right: 20px;

    border-radius: 8px;

}

.lang {
    border-bottom: 30px solid white;
}

.framew,
.skill {
    margin-bottom: 15px;
    margin-top: 15px;
}

hr {
    height: 1px;
    border: none;
    background-color: #dbdfff;
}

.form-bg {
    background-color: white;
    border-top: none;
}

.formpage {
    width: 100%;
    height: 780px;
    border-radius: 150px 0 0 0;
    background-image: url("./backgrounds/contact_form_background_shapes2x.png");
    background-color: #6070FF;

    background-size: contain;
    justify-content: center;
}

.fh1 {
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 80px;
}

.fp {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
    width: 100%;
}

.fpage {
    width: 100%;
    height: 700px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-top: 50px;
    border: none;
    color: white;

}

.conent {
    width: 500px;
    height: 500px;
    justify-content: center;
  
}

#lorem-input,
#email-input,
#message-input {
    color: #091d40;
    font-size: 15px;
    width: 100%;
    border: none;
    margin-bottom: 20px;
    height: 50px;
    padding-left: 10px;
    border-radius: 9px;
    
}

fieldset {
    border: none;
}

#message-input {
    height: 180px;
    padding-top: 15px;
    font-size: 14px;
}

form {
    width: 410px;
    margin-left: 45px;
}

.click {
    margin-left: 130px;
}


@media screen and (max-width: 600px) {
    .navbar {
        display: none;
    }
    * {
        font-size: 17px;
    }

    header {
        height: 600px;
    }
    .header {
        padding: 10px 40px;
    }
    .bar {
        display: flex;
        flex-direction: column;
        gap:3px;
       
    }
    .menu-bar {
        
        width:20px ;
        height: 3px;
        background-color:#6070ff;
       

    }

    main {
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 90px;

    }
    .page {
    
     display:block;
     justify-content: center;
     align-items: center;
     
    }

    .h1 {
        font-size: 35px;
    }

    .description {
        padding-top: 10px;
        padding-left: 8px;
        width: 100%;
    }

    .desc {
        width: 100%;
    }

    .ab {
        padding-left: 10px;
        padding-right: 20px;
        margin-top:100px;
    }
    .ab>.tonic-layer {
        padding: 0;
        padding-left: 10px;
        padding-right: 20px;
      
    }

    .conent {
        margin-left:0;
        justify-content: center;
        align-items: center;
        
    }

    .get-touch {
        margin-left: 0;
    }

  
}


